@import 'tailwindcss';
@plugin 'tailwindcss-radix';
@plugin 'tailwindcss-motion';

@custom-variant dark (&:is(.dark *));
@theme {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --text-xs: calc(var(--text-base) * 0.75);
  --text-sm: calc(var(--text-base) * 0.875);
  --text-base: 0.9rem;
  --text-md: calc(var(--text-base) * 1.2);
  --text-lg: calc(var(--text-base) * 1.35);

  --radius: 0.9rem;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-ring: hsl(var(--ring));
}

@layer theme {
  :root {
    --background: 260 25% 96%;
    --foreground: 260 35% 15%;
    --muted: 260 20% 92%;
    --muted-foreground: 260 15% 40%;
    --popover: 260 25% 96%;
    --popover-foreground: 260 35% 15%;
    --border: 260 25% 85%;
    --input: 260 25% 85%;
    --card: 260 25% 96%;
    --card-foreground: 260 35% 15%;
    --primary: 260 45% 45%;
    --primary-foreground: 260 25% 96%;
    --secondary: 260 20% 92%;
    --secondary-foreground: 260 35% 15%;
    --accent: 260 30% 85%;
    --accent-foreground: 260 35% 15%;
    --destructive: 0 90% 60%;
    --destructive-foreground: 260 25% 96%;
    --ring: 260 25% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 260 30% 5%;
    --foreground: 260 15% 95%;
    --muted: 260 25% 8%;
    --muted-foreground: 260 15% 70%;
    --accent: 260 25% 12%;
    --accent-foreground: 260 25% 98%;
    --popover: 260 30% 5%;
    --popover-foreground: 260 15% 80%;
    --border: 260 25% 12%;
    --input: 260 25% 12%;
    --card: 260 30% 5%;
    --card-foreground: 260 15% 95%;
    --primary: 260 45% 70%;
    --primary-foreground: 260 35% 5%;
    --secondary: 260 30% 12%;
    --secondary-foreground: 260 25% 98%;
    --destructive: 0 65% 45%;
    --destructive-foreground: 260 25% 98%;
    --ring: 260 25% 20%;
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border ring-ring text-base
  }

  body {
    @apply bg-background text-foreground duration-100
  }
}